.dashboard-layout{

    display:grid;

    grid-template-columns:260px 1fr;

    width:100vw;

    height:100vh;

    overflow:hidden;

    background:#edf3fa;

}

.dashboard-content{

    display:flex;

    flex-direction:column;

    overflow:hidden;

}

.dashboard-main{

    flex:1;

    overflow:hidden;

    padding:18px;

} 